/*Changes the navbar's background, font size, and border.*/
.navbar{
    background: skyblue;
    font-size: x-large;
    border-style: groove;
    border-color: greenyellow;
    border-width: thick;
}

/*Similar to the navbar*/
.post {
    background-color: skyblue;
    border-style: groove;
    border-color: greenyellow;
    border-width: thick;
}

/*Changes the header's color of posts.*/
.post h2 {
    color: red;
}

/*Changes the text's color of the posts */
.post p {
    color: yellow;
}